.switch {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 100px;
  margin-top: 24px;
}
.switch .knobs,
.switch .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}
.switch [type=checkbox] {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.switch .knobs {
  z-index: 2;
}
.switch .knobs:before, .switch .knobs:after {
  content: "HUN";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s ease all;
}
.switch .knobs:before {
  content: "HUN";
}
.switch .knobs:after {
  content: "ENG";
  right: -28px;
  left: auto;
  background-color: #f44336;
}
.switch [type=checkbox]:checked + .knobs:before {
  left: -28px;
}
.switch [type=checkbox]:checked + .knobs:after {
  right: 4px;
}
.switch [type=checkbox]:checked ~ .layer {
  background-color: #fcebeb;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

span.heighlighted {
  text-decoration: underline;
}

header {
  width: 100%;
  background-color: green;
  text-align: center;
  padding: 0.5em;
}
header h1, header h2 {
  margin: 0;
}
header h1 {
  color: black;
  font-variant: small-caps;
}
header h2 {
  font-size: 1em;
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
}
main aside section {
  padding: 0 1em 0 0;
}
main aside section img {
  border-radius: 50%;
  width: 250px;
  margin: 25px auto 0 25px;
}
main aside section h3 {
  margin-left: 1em;
  color: white;
}
main aside section ul li {
  margin-bottom: 1em;
  color: #e6e6e6;
}
main aside section ul li a {
  color: #e6e6e6;
  text-decoration: none;
}
main section {
  flex: 1;
  padding: 1em;
  color: #e6e6e6;
}
main section article {
  min-width: 400px;
  background-color: #1a1a1a;
  margin-bottom: 1em;
  border-radius: 1em;
  padding: 1em;
}
main section article h1 {
  font-size: 2em;
  font-weight: 100;
  color: green;
  text-align: center;
  margin: 0;
}
main section article img {
  margin: 1em;
  height: 5rem;
  width: 5rem;
}
main section article .tile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1em 0;
}
main section article .tile {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: black;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}
main section article .tile * {
  margin: 0;
}
main section article .tile img {
  width: 100%;
}
main section article .tile h3 {
  text-align: center;
}
main section article .tile > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section article .tile > div:nth-child(2) {
  display: none;
}
main section article .tile:hover {
  padding: 20px;
}
main section article .tile:hover > div:nth-child(1) {
  display: none;
}
main section article .tile:hover > div:nth-child(2) {
  display: flex;
}/*# sourceMappingURL=style.css.map */